<template name="components_register">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            {{i18n 'dapp.components.register.header'}}
        </div>
        <div class="panel-body">
	   {{#with TemplateVar.get 'state'}}
		{{#if inProcess}}
                    <div class="alert alert-info">
                        Your registration is in process....
                    </div>
            
                    <hr />
		{{/if}}

		{{#if isRegistered}}
                    <div class="alert alert-info">
                        You have successfully registered!
                    </div>
            
                    <hr />
		{{/if}}
		{{#if isRegistrationError}}
                    <div class="alert alert-warning">
                       User Registration failed! Please try again with a different user name!
                    </div> 
                {{/if}}
 		{{/with}}
		<div class="row">
                  <div class="col-md-12">
                       <form class="form-horizontal">
				
				<div class="form-group">
					<label for="userName" class="col-sm-3 control-label">User Name</label>
					<div class="col-sm-4">
						<input type="text" id="userName" class="form-control" value="" placeholder="User Name" />
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">Password</label>
					<div class="col-sm-4">
						<input type="password" id="password" class="form-control" value="" placeholder="Password" />
					</div>
				</div>

				<div class="form-group">
					<label for="rolelist" class="col-sm-3 control-label">Role</label>
					<div class="col-sm-3">
						<select class="form-control" id="rolelist"> 
							<option value="2">Participant</option>
							<option value="3">Provider</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="userName" class="col-sm-3 control-label">Address</label>
					<div class="col-sm-5">
						<input type="text" id="nodeAddress" class="form-control" value="" placeholder="Node Address" />
					</div>
				</div>


				<div class="form-group">
				<div class="col-sm-4">
				<button type="button" id="registerbtn" style="position: relative;top: 10px;left: 95%;" class="btn btn-info 							btn-deploy">{{i18n 'dapp.components.register.register'}}
				</button>
				</div>
				</div>
                          
                       </form>
                  </div>
		</div>
        </div>
    </div>
</template>
