<template name="components_shareFile">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            {{i18n 'dapp.components.shareFile.header'}}
        </div>
        <div class="panel-body">
	   {{#with TemplateVar.get 'state'}}
		{{#if inProcess}}
                    <div class="alert alert-info">
                        File is being uploaded... Be patient!!
                    </div>
            
                    <hr />
            	{{/if}}
		{{#if isUploadError}}
                    <div class="alert alert-warning">
                        There was an error uploading your file! Better luck next time!
                    </div>
            
                    <hr />
            	{{/if}}

		{{#if isUploaded}}
		<div class="alert alert-success">
                        File "{{fileName}}" was uploaded successfully! You are the lucky one!
                    </div>
                <br />
            	{{/if}}

		{{#if isSharing}}
                    <div class="alert alert-info">
                        File is being shared... Be patient!!
                    </div>
            
                    <hr />
            	{{/if}}
		{{#if isSharedError}}
                    <div class="alert alert-warning">
                        There was an error sharing your file! Better luck next time!
                    </div>
            
                    <hr />
            	{{/if}}

		{{#if isShared}}
		<div class="alert alert-success">
                        File "{{fileName}}" with "{{fileId}}" was shared successfully with "{{userName}}"! 
                    </div>
                <br />
            	{{/if}}
		{{#if isRevoking}}
                    <div class="alert alert-info">
                        You dont seem to trust this user anymore!! We are revoking the access... See to it ..
                    </div>
            
                    <hr />
            	{{/if}}
		{{#if isRevokeError}}
                    <div class="alert alert-warning">
                        There was an error revoking the access to your file! Try it again.. May be you will succeed!
                    </div>
            
                    <hr />
            	{{/if}}

		{{#if isRevoked}}
		<div class="alert alert-success">
                        You have successfully revoked the access for "{{fileName}}" from "{{userName}}"! 
                    </div>
                <br />
            	{{/if}}
		{{#if files}}
		<div class="form-group">
		<label id="fileCount" class="col-sm-3 control-label">Total number of files uploaded: {{ count }}</label>
		</div>
		{{/if}}
 		{{/with}}
		<div class="row">
                  <div class="col-md-12">
                       <form class="form-horizontal">
				
				<div class="form-group">
					<label for="fileName" class="col-sm-3 control-label">File Name</label>
					<div class="col-sm-4">
						<input type="text" id="fileName" class="form-control" value="" placeholder="File Name" />
					</div>
				</div>

				<div class="form-group">
					<label for="fileHash" class="col-sm-3 control-label">File Hash</label>
					<div class="col-sm-6">
						<input type="text" id="fileHash" class="form-control" value="" placeholder="File Hash" />
					</div>
				</div> 

				<div class="form-group">
					<div class="col-sm-4">
					<button type="button" id="uploadFilebtn" style="position: relative;top: 10px;left: 95%;" class="btn btn-info btn-deploy">{{i18n 'dapp.components.shareFile.upload'}}
					</button>
					</div>
				</div>
				</form>
                  </div>
		</div>
	
		<div class="table-responsive">
            	<table class="table table-bordered">
                <thead>
                    <tr>
                        <td>{{i18n 'dapp.app.headers.fileId'}}</td>
                        <td>{{i18n 'dapp.app.headers.fileHash'}}</td>
                        <td>{{i18n 'dapp.app.headers.fileName'}}</td>
			<td>{{i18n 'dapp.app.headers.providers'}}</td>
			<td>{{i18n 'dapp.app.headers.share'}}</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each getUploadedFiles}}
                    <tr>
                        <td>
                            {{ index }}
                        </td>
                        <td> 
                           {{ hash }}
                        </td>
                        <td> {{ name }}</td>
			<td> 
			<div class="col-sm-6">
				<select class="form-control col-sm-6" id="rolelist"> 

				{{#each getProviders}}
					<option value={{address}}>{{name}}</option>
				{{/each}}
					</select>
				</div>
			</td>
			<td>
		<button type="button" id=share{{index}}&${{name}} class="btn btn-info btn-deploy">{{i18n 'dapp.components.shareFile.shareFile'}}</button>
			</td>
                    </tr>
                    {{/each}}
                </tbody>
            	</table>
        </div>

		<div class="form-group">
		<label id="fileCount" class="col-sm-3 control-label">Total number of files shared: {{ getSharedFileCount }}</label>
		</div>
		<br>
		
		<div class="table-responsive">
            	<table class="table table-bordered">
                <thead>
                    <tr>
                        <td>{{i18n 'dapp.app.headers.fileId'}}</td>
                        <td>{{i18n 'dapp.app.headers.fileName'}}</td>
			<td>{{i18n 'dapp.app.headers.providers'}}</td>
			<td>{{i18n 'dapp.app.headers.providers'}} {{i18n 'dapp.app.headers.address'}}</td>
			<td>{{i18n 'dapp.app.headers.revoke'}}</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each getSharedFiles}}
                    <tr>
                        <td>
                            {{ id }}
                        </td>
                        <td> 
                           {{ name }}
                        </td>
                        <td> {{ provider }}</td>
			<td> {{ providerAddr }}</td>
			<td>
		<button type="button" id=revoke{{id}}&${{name}}^${{provider}} class="btn btn-info btn-deploy">{{i18n 'dapp.components.shareFile.revoke'}}</button>
			</td>
                    </tr>
                    {{/each}}
                </tbody>
            	</table>
        </div>

        <div class="form-group">
        <label id="providerFile" class="col-sm-3 control-label">Total number of files shared with provider: {{ getProviderFileCount }}</label>
        </div>
        <br>



         <div class="table-responsive">
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>File Id</td>
                        <td>File Name</td>
                        <td>File Hash</td>
                        <td>Owner</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each getProviderFiles}}
                    <tr>
                        <td>
                            {{ id }}
                        </td>
                        <td> 
                           {{ name }}
                        </td>
                        <td> {{ hash }}</td>

                        <td> {{ owner }}</td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
        </div>
   


        </div>
    </div>
</template>
